body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    margin-bottom: 50px;   
    height: 600px;   
    width: 100%; 
}
header h1{
    text-align: center;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;    
}
#test{
    width: 100%;
    z-index: -100;
    position: absolute; 
    overflow:hidden;
    display:block;    
    height: 600px; 
    margin:0 auto;    
    background-attachment: fixed;
}
.logo img{
    width: 10%;
    height: 10%;
    
}
.lien ul{
    margin-top: 23vh;
    height: 250px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;    
}

.lien img{
    box-shadow: 10px 5px 5px rgb(43, 2, 2);
    justify-content: space-between;
    margin: 0 80px 0 80px;
    border-radius: 50%;
    height: 20%;
    width: 20%;    
}

/* ------------------------------------------- */
#para1{
    background: url(./montagne\ para1.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
}
.block{   
    display: flex;
    height: 500px;
    width: 100%;          
}
.accordeon{
    margin-left: 10vw;
    width: 600px;
    height: 400px;
}
.carous{
    
    margin-left: 10vw;
    width: 600px;
    height: 400px;   
}
li .video{
    font-weight: bold;
    color: rgb(241, 248, 243);    
}
.carousel-caption{
   
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    text-shadow: 0px 0px 10px blue;
}
/* --------------------------------------------------- */
.para2{
    background: url(./montagne\ para2.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.para2 h1{
    height: 400px;
    display: flex;
    color: rgb(117, 22, 22);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 500%;
}
.block2 img{
    border-radius: 10px;
    border-style: hidden;
}

.chaletBois h3{
    display: flex;    
    margin: auto;
    align-items: center;
    justify-content: center;
    color: brown;
    height: 100px;

}

.txt-rondin{   
    height: 250px; 
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 2;
}
.txt-madrier{
    height: 250px;
    text-align: justify;
    align-items: center;
    line-height: 2;
}
.txt-jardin{
    height: 250px;
    text-align: justify;
    align-items: center;
    line-height: 2;
}
.tdc{
    margin: 50px 0;
    width: 100%;
    padding: 0 15%;    
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rondin{
    margin: 50px;    
}
.madrier{
    margin: 50px;
}
.jardin{
    margin: 50px;    
}
.txt{
    padding: 0 0 0 50px;
}
/* -------------------------- ------------------------------------*/
.para3{
    background: url(./montagne\ para3.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(117, 22, 22);
    margin-bottom: 50px;
}
.para3 h1{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-weight: bold;    
}
.video h3{
    height: 150px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}
.vlc{
    margin-left: 50px;
    height: 400px;    
}
.vlc2{    
    margin-left: 50px;
    height: 400px;    
}
.vlc3{
    margin-left: 50px;
    height: 400px;    
}
.vlc p{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.9;   
}
.vlc2 p{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.9;   
}
.vlc3 p{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;   
}
.film3 video{    
    border: 1px gray solid;    
}
.lien-haut li{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.lien-haut p{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.fond img{
    width: 100%;
    height: 1000px;
    z-index: -100;
    position: absolute; 
    overflow:hidden;
    display:block;         
    margin:0 auto;    
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.pp{
    width: 100%;
    margin: 30px 0 30px 30px;
    display: flex;
    justify-content: center;
     
   
}
footer h3{
    color: red;
    text-align: center;
}
ul{
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
}
.info li{
    color: yellow;
    margin: 20px 0;
}
.contacts img{
    box-shadow: 10px 5px 5px rgb(26, 2, 2);
    justify-content: space-between;
    margin: 0 80px 0 80px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
.contact1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.contact2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/*----------------------------------------------------------------- */
@media(max-width:768px){
    header{
        height: auto;
        width: auto;
        margin: 0;
    }
    .logo{
        height: 70%;
        width: 70%;
    }
    #test{
    height: auto;
    }


    .lien ul{
        
        width: 100%;
        height: auto;       
        justify-content: center;                
    }
    .photo{
        width: 50%;
        height: 50%;
    }

}
/* ------------------------------------------------------------------ */
@media(max-width:576px){
    main{
        height: auto;
        width: auto;        
    }
    ul{
        max-height: 250px;
    }
    #para1{
        width: 100%;
        height: 200px;        
    }
    .block{
        display: flex;
        width: 100%;
    }
    .accordeon{
        width: 80%;
        height: auto;
        margin-bottom: 50px;       
    }
    .accordion-button{
        width: 100%;
        height: auto;
    }
    .carous{
        width: 80%;
        height: auto;
        margin-bottom: 50px;
    }
    
}
/* ------------------------------------------------------------------------ */
@media(max-width:576px){
    .para2{
        width: 100%;
        height: 200px;
    }
    .para2 h1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
        font-size: 200%;
        font-weight: bold;
    }
    .block2{
        width: 100%;
        height: auto;
    }   
    .tdc{
        width: 100%;
        height: auto;
        text-align: justify;
        margin: 20px 0;   
    }
    .rondin{
        margin: 0;
        height: auto;
        width: 100%;
    }
    .rondin1{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .txt-rondin{
        margin: 0;
        width: 100%;
        height: auto;       
        line-height: none;
    }
    .madrier{
        margin: 0;
        height: auto;
        width: 100%;
    }
    .madrier1{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .txt-madrier{
        margin:0;
        width: 100%;
        height: auto;     
        line-height: none;
    }
    .jardin{
        margin: 0;
        height: auto;
        width: 100%;
    }
    .jardin1{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

    }
    .txt-jardin{
        margin:0;
        height: auto;
        width: 100%;        
        line-height: none;
    } 
}
/* ------------------------------------------------------------- */
@media(max-width:576px){
    .para3{
        margin: 0;
        width: 100%;
        height: 200px;
    }
    .para3 h1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 200px;
        width: 100%;
        font-size: 150%;
        font-weight: bold;
    }
    .video{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .video h3{
        width: 100%;
        height: auto;
    }
    .vlc{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .vlc p{
        height: auto;
        width: 100%;        
        margin: 0;                
        line-height: none;
    }
    .film1{
        width: auto;        
        text-align: justify;
        margin: 50px;
    }
    .film2{
        width: auto;
        display: flex;
        justify-content: center;
    }
    .txt-vlc{
        width: auto;
        height: 150px;
        text-align: justify;
        margin: 50px;
    }
    .txt-vlc2{
        width: auto;
        text-align: justify;
        margin: 50px;
    }
    .txt-vlc3{
        width: auto;
        text-align: justify;
        margin: 50px;
    }    
    .film3{
        width: auto;
        display: flex;
        justify-content: center;
    }
}
/* ---------------------------------------------------------------------- */
@media(max-width:576px){
    footer{
        height: auto;
        width: auto;
    }
    .pp{
        height: auto;
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .info{
        margin: 50px 0 0 0;
    }
    .info ul{
        margin: 50px 0 0 0;
        justify-content: center;
    }
    .contact{
        margin: 50px 0;
    }
}

